{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/calendario/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>

    <title>Document</title>
</head>
<body>
{% block content %}
{% endblock %}



<div class="col-md-10">
  <br><br>
  <div id="calendario">

  </div>
</div>

<script>
  $(document).ready(function () {
    var calendario = $('#calendario').fullCalendar({
      
      header: {
        locale: 'pt-br'
      },

      buttonText: {
			today: "Hoje",
		},

    events: {{ posts_json|safe }}


    })

    calendar.setOption('locale', 'pt-br');
  })

  var sun = document.getElementsByClassName(".fc-sun")
  console.log(sun)
</script>

<h1>{{posts}}</h1>


</body>
</html>



