{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/calendario/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>

    <title>Document</title>
</head>
<body>
{% block content %}
{% endblock %}



<div class="col-md-10">
  <br><br>
  <div id="calendario">

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>

          </div>
          <div class="modal-body">
            <p class="descricao"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary"><a class="link" href="{% url 'turmas:turmas' turma.codigo %}">Ver Post</a></button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>



<script>
  $(document).ready(function () {
    var calendario = $('#calendario').fullCalendar({
      
    locale: 'pt-br',

    height: 800,

    events: {{ posts_json|safe}},

    eventClick: function(calEvent, jsEvent, view) {
      var titulo = $('.modal-title');
      titulo.text(calEvent.title);

      var descricao = $('.descricao');
      descricao.text(calEvent.description)

      $('.link').attr('href', "{% url 'turmas:turmas' turma.codigo %}" + '/' + calEvent.id);

      
    },




    })

  });



  $(document).ready(function() {
  // Seletor para a div gerada pela API
  var divApi = $('.fc-content');

  // Adicionar atributos à div
  divApi.attr('data-toggle', 'modal');
  divApi.attr('data-target', '#exampleModalCenter');
  divApi.attr('cursor', 'pointer');


});



</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/pt-br.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>



