.content{
    margin: 10px 135px;
}

.createAviso{
    background-color: var(--primary-color); 

    font-weight: 500;
    color: #fff;
    display: flex;
    height: 45px;

    margin: 7px;
    padding: 5px 15px;
    padding-left: 5px;
    border-radius: 20px;
    border: none;
    

    align-items: center;
    text-align: center;

    transition: 0.3s;
    animation: press 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.createAviso:active{
    transform: scale(0.9);
}

.createAviso:hover{
    background-color: var(--hover-color);
}

.dropdowns{
    align-items: center;
}

.dropdown-menu{
    margin-top: 10px;
}

.trabalho{
    margin-left: 2px;
}

.aviso img, .trabalho img, .copiar img{
    margin-right: 2px;
}

.dropdowns{
    display: flex;
    justify-content: space-between;
}

.cdgTurma{
    border: 1px solid var(--primary-color);
    height: 45px;
    width: 130px;
}

.cdgTurma p{
    font-size: 13px;
    padding-left: 5px;
}

.cdgTurma span{
    font-size: 20px;
    padding-left: 5px;
    color: var(--primary-color);

    position: relative;
    display: flex;
    top: -20px;
}

.conteinerCodigo{
    display: flex;
    align-items: center;
}

/*  CARD DAS ATIVIDADES */

.cardInformacoes{
    height: 90px;
    width: 100%;

    border: solid 1px var(--primary-color);
    background-color: var(--background-sidebar);

    border-radius: 20px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    
    transition: 0.3s;
    cursor: pointer;
}
.cardInformacoes:hover{
    background: none;
}


.info{
    display: flex;
    align-items: center;
}

.activity{
    height: 70px;
    width: 70px;

    background-color: blue;
    border-radius: 50%;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.activity img{
    height: 45px;
    width: 45px;
}

.text{
    display: block;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}


.nome{
    font-size: 25px;
    color: #fff;
}

.data, .valor, .dataEntrega{
    margin: 0;
}



