
/* Botão de ENTRAR caso não esteja logado */

.entrar {
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

.entrar .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrar .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.entrar .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.entrar:hover {
  background-color: var(--hover-color);
}

.entrar:hover .arrow {
  background: var(--secondary-color);
}

.entrar:hover .arrow:before {
  right: 0;
}



 /* Card de Turmas */





center .image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 20px;
  background: transparent;
}

 .lado_da_outra{
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
 }
 


 
 .card {
  position: relative;
  background-color: #6300de;
  background-image: linear-gradient(0deg, #6300de 0%, #FC00FF 74%);
  border-radius: 20px;
  margin:100px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 }
 

 .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index:100;
}


.img .card-content .image {
  object-fit: cover;
  border-radius: 50%;
  
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #8930bd;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 20px;
 }
 

 .card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin: 0;
  font-size: 15px;
 }
 

 
 .card button {
  padding: 8px 25px;
  display: block;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #7d2ae8;
  color: white;
  font-weight: 600;
  cursor: pointer;
 }

 .card a{
  margin: 0;
  padding: 0;
 }

 
 .card button:hover {
  background: #24232b;
 }