{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Nova Senha</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static '/css/login/login.css' %}">

</head>

<style>
    ul{
        display: none;
    }
</style>

<body>

	<div class="box">
		<center>
			<h1>Digite a Nova Senha</h1><br>	
		</center>

		<form method="POST">
			{% csrf_token %}

            <div class="inputBox">
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" onkeyup="checkPassword(this.value), validarSenha()" placeholder="Nova senha">
                <span id="toggleBtn"></span>
            </div>

            <br>

            <div class="inputBox">
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" onkeyup="validarSenha()" placeholder="Repita a senha">
            </div>


			<div class="validation">
				<ul>
					<li id="igual">As novas senhas devem ser iguais</li>
                	<li id="lower">Pelo menos um caractere minúsculo</li>
                	<li id="upper">Pelo menos um caractere maiúsculo</li>
                	<li id="number">Pelo menos um número</li>
                	<li id="special">Pelo menos um caractere especial</li>
                	<li id="length">Pelo menos 8 caracteres</li>
			</ul>
		</div>
		
		<center>
		<br>
			<button id="btn" type="submit">
					Salvar
					<div class="arrow-wrapper">
						<div class="arrow"></div>
					</div>
			</button>

		</form>

		</center>
	</div>


	<script src="{% static '/javascript/registration/validarsenha.js' %}"></script>



</body>
</html>





