<style>
    #alert-error{
	background-color: #f59aa3;
	border-radius: 8px;
	width: 100%;
	height: 2em;
	text-align: center;
	display: grid;
	align-items: center;
	color: #4c060d;
	border-color: #7d0410;
	margin-bottom: 15px;
	margin-top: -15px;
}

    #alert-success{
	background-color: #84f09d;
	border-radius: 8px;
	width: 100%;
	height: 2em;
	text-align: center;
	display: grid;
	align-items: center;
	color: #155724;
	border-color: #c3e6cb;
	margin-bottom: 15px;
	margin-top: -15px;
}
</style>


{% if messages %}

{% for message in messages %}

    <div id="{{ message.tags }}">
        <p>{{ message }}</p>
    </div>

{% endfor %}

{% endif %}



