/*Variaveis*/
body{
    --primary-100:#1E2022;
    --primary-200:#34373b;
    --primary-300:#F0F5F9;
    --accent-100:#788189;
    --accent-200:#e1e4e6;
    --text-100:#1E2022;
    --text-200:#52616B;
    --bg-100:#F0F5F9;
    --bg-200:#C9D6DF;
    --bg-300:#bfc7d1;
    }

.informacoes{
    width: 100%;
    

    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.infoPost{
    display: flex;
}


.anexo{
    border: 1px solid var(--primary-200);
    height: 100%;
    width: 250px;

    display: flex;

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    border-radius: 5px;
}

.nomeAnex {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

<<<<<<< HEAD


=======
>>>>>>> f100748969a7d827a7af745ea8431d122310e3e5
.excluir-anexo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.excluir-anexo-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}

.excluir-anexo-button:hover {
    background-color: #ce1717;
}


.entrega{
    width: 300px;
    height: 50px;
    margin-top: 10px;

    border-radius: 10px;
    background-color: var(--text-200);
    border: 1px solid var(--primary-100);

    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    border: 2px solid red;
    height: 3px;
}

.descricao{
    border-top: 1px solid var(--primary-100);
    border-bottom: 1px solid var(--primary-100);
    width: 600px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.nomeTurma{
    color: var(--primary-100);
}

.valor{
    color: var(--primary-200);
}

.textDescricao{
    color: var(--primary-200);
}

.comentarios{
    display: flex;
    align-items: center;

    margin-top: 5px;
}

.comentario{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.novoComentario{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}



.coment{
    color: var(--text-200);
    margin: 0;
}


.novoComentario input{
    margin-left: 10px;
    width: 90%;
    height: 30px;
    border: none;

    border-radius: 30px;
}

.comment-input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
  }

  form{
    width: 100%;
  }

.excluir{
    padding: 5px;
    background-color: #f34242;
}

.comentUser{
    display: flex;
    align-items: center;

}

.pp{
    margin-left: 55px;

}

.coment{
    max-height: 300px;
}

.perfilUser{
    position: absolute;
}

.infoAnex{
    color: var(--primary-100);
}

.nomeC{
    color: #1E2022;
}