.informacoes{
    width: 100%;
    

    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.infoPost{
    display: flex;
}


.anexo{
    border: 1px solid red;
    height: 100%;
    width: 250px;

    display: flex;

    justify-content: center;
}

.entrega{
    width: 300px;
    height: 50px;
    margin-top: 10px;

    border-radius: 10px;
    background-color: var(--background-sidebar);
    border: 1px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    border: 2px solid red;
    height: 3px;
}

.descricao{
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    width: 600px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.textDescricao{
    color: #fff;
}

.comentarios{
    display: flex;
    align-items: center;

    margin-top: 5px;
}

.comentario{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.novoComentario{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}



.coment{
    color: #bab5b5;
    margin: 0;
}


.novoComentario input{
    margin-left: 10px;
    width: 90%;
    height: 30px;
    border: none;

    border-radius: 30px;
}

.comment-input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
  }

  form{
    width: 100%;
  }

.excluir{
    padding: 5px;
}

.comentUser{
    display: flex;
    align-items: center;

}

.pp{
    margin-left: 55px;

}

.coment{
    max-height: 300px;
}

.perfilUser{
    position: absolute;
}

