@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body 
{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: var(--background-body);

  /* variáveis */
  /* cores */
  --background-body: #F0F5F9;
  --background-sidebar: #bfc7d1;
  --primary-color: #1A73E8;
  --hover-color: #3405a3;
  --secondary-color: #fff;
  --hover: #00ffff;

  --primary-100:#1E2022;
  --primary-200:#34373b;
  --primary-300:#F0F5F9;
  --accent-100:#788189;
  --accent-200:#e1e4e6;
  --text-100:#1E2022;
  --text-200:#52616B;
  --bg-100:#F0F5F9;
  --bg-200:#C9D6DF;
  --bg-300:#bfc7d1;

  /* m  dadas */
  --arrow-width: 10px;
  --arrow-stroke: 2px;

  
}

p{color: #f0f8ff;}

a { text-decoration: none; 
    color: var(--primary-100);
}

a:hover{
  color: var(--primary-200);
}


h1, h2, h3, h4, h5{
  color: var(--primary-100)
}


header {
    display: flex;
    justify-content : space-between;
    align-items : center;
    padding: 30px 10%;
    background-color: var(--primary-100);
    height: 5em;
    border-bottom: 0.5px solid var(--primary-300);
    }

.active {
    color: red;
    }


  .conn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: white;
  }
  
  .nav_link,.responsivo li{
    position: relative;
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    color: var(--bg-100);
    cursor: pointer;
  }

  .nav_link:hover{
    color: var(--secondary-color);
  }
  
  .mural {
    display: none;
  }
  .mural {
    display: block;
  }


  .add {
    height: 45px;
    line-height: 10px;  
    width: 44px;  
    font-size: 2.3em;
    border-radius: 50%;
    border: 0;
    background-color: var(--primary-100);
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid;
  }
  
  .add:hover{
    background-color: var(--primary-300) !important;
    color: var(--primary-100) !important;
  }
  
  .dropdown-menu{
    background-color: var(--bg-100);
    border: var(--primary-200) solid 1px;
  }
  
  .dropdown-item, .infosUser{
    color: var(--text-100);
    font-weight: bold;
    font-family: 'Poppins', sans-serif; 
    transition: 0.5s;
  }

  .dropdown-item:hover{
    background-color: var(--bg-200);
  }
  
  .perfil{
    background-color: var(--primary-100);
    height: 45px;
    width: 45px;
    border-radius: 50% ;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0%;
    border: 2px solid;
  }
  
  .perfil:hover{
    cursor: pointer;
    border-radius: 50%;
    border: var(--bg-300) 2px solid;
    transition: 0.3s;
  }


  /* Responsividade */
@media (max-width: 930px){
  
  .nav_link li{
    padding: 0px 1vw;
  }

}

@media (max-width: 777px){
  header{
    justify-content: center;
  }

  ul.nav_link{
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 731px){
  header{
    padding: 0;
  }
}

/*
@media (max-width: 570px){ 

  }

*/

.destaque{
  font-size: 40px;
}


