{% extends 'sidebar.html' %}
{% load static %}

{% block content %}
{% endblock %}

{% block card %}

<br>

<div class="conta">
        <p>Você está logado com:</p> 
            <div class="perfil">{{nameUser.name}}</div>

            <div class="dadosUser">
                <p>{{user.username}}</p>
                <p>{{user.email}}</p>  
            </div>

            <div class="mudarconta">
                <a href="{% url 'accounts:logout' %}" class="btn btn-dark">Mudar de Conta</a>
            </div>
</div>

    <br>

<div class="conta">
    <h2>Criar turma:</h2><br>


    <form action="{% url 'turmas:criar' %}" method="POST">
        {% csrf_token %}

            <br>

            {{form.as_p}}

            <br><br>
        
            <center>
                <button type="submit" class="btn btn-info">Criar</button>
                <a  class="btn btn-secondary" onclick="history.go(-1);">Cancelar</a>

            </center>
 </form>
   

</div>

<script>

    function corInicial(){
        mudarCor();
    }

    function mudarCor(){
        var cor = document.querySelector("#color-input").value;
        document.querySelector("#pseudo-color-input").style.backgroundColor = cor;

        var h5 = document.querySelector(".TtlH5")
        h5.style.color = cor;
        h5.innerHTML = cor;

        
        console.log(cor)
    }

</script>
  


{% endblock %}